[Desktop Entry]
  Version=1.0
  Type=Application
  Terminal=false
  Name=QT App
  Exec=/usr/local/bin/qt-app --fullscreen
  Comment=Qt app
  Icon=/usr/share/pixmaps/qt-app-icon.png
  StartupNotify=false
  Encoding=UTF-8
  Categories=Development;

